@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap%22");

.artpiece {
  background: #434347;
  border-radius: 8px;
  padding: 2px;
}

.Memberbutton {
  background: #434347;
  border-radius: 9px;
  padding: 3px;
}